<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lbs"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="2" />

    <application android:icon="@drawable/lbs" android:label="@string/app_name">
           <activity android:name=".screen"
                  android:label="@string/app_name">
                      <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                      <category android:name="android.intent.category.LAUNCHER" />
                      </intent-filter>
           </activity>
           <activity android:name=".browse"
                     android:label="browse ">
           </activity>
        
           <activity android:name=".categories"
                   android:label="@string/search">
           </activity>
           <activity android:name=".results"
                     android:label="results">
           </activity>
           <activity android:name=".eventCategories"
                     android:label="search">
           </activity>
           <activity android:name=".friend"
                     android:label="find friends">
           </activity>
           <activity android:name=".findone"
                     android:label="search">
           </activity>
           <activity android:name=".findall"
                     android:label="results">
           </activity>
           <activity android:name=".routemap">
           </activity>
           <activity android:name=".everesults"
                     android:label="events">
           </activity>
           <activity android:name=".sharelocation"
                     android:label="share location">
           </activity>
           <uses-library android:name="com.google.android.maps" />
           
           
           
    </application>
             
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

</manifest>